<turbo-frame id="search-results">

<div class="search-container">

  <div class="wrapper-for-stimulus" data-controller="shelf transition-page">

    <%= render "shared/transition_page" %>

    <%= render "shared/search_form" %>

    <div class="container">
      <div class="row g-4">
        <%= render "shared/contents_search" %>
      </div>
    </div>

    <%= render "shared/shelf" %>

  </div>
</div>
  <%= render "shared/max4_alert" %>

</turbo-frame>
