<div id="body">
  <div class="d-flex justify-content-center align-items-center mt-5">
      <div id="recommendation_card ">
          <div class="img_card ">
            <img src="<%= @content[:content].image_url %>"
                alt="<%= @content[:content].title %>"
                class="img_tag">
            <div class="score_circle">
              <%= @content[:score].round %>
            </div>
            <div class="img_title">
              <%= @content[:content].title %>
            </div>
        </div>
        <div class="explanation">
          <h3>This is explanation box</h3>
        </div>
        <div class="information">
          <p><%= @content[:content].description.presence || "No description available" %></p>
          <p><strong>Creator:</strong> <%= @content[:content].creator %></p>
          <p><strong>Release date:</strong> <%= @content[:content].date_of_release %></p>
          <p><strong>Duration:</strong> <%= @content[:content].duration %></p>
          <p><strong>Popularity:</strong> <%= @content[:content].popularity_score %></p>
        </div>
      </div>
    </div>
</div>
