<!DOCTYPE html>
<html>
  <head>
    <title>TheCurator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@2.7.0/dist/es-module-shims.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <%= render "shared/navbar" %>
    <%# <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
